apiVersion: v1
kind: Secret
metadata:
  name: {{GITLAB_METADATA_RELEASE_LABEL | default(GITLAB_DEFAULT_METADATA_RELEASE_LABEL, true)}}-gitlab-postgresql-password
  namespace: {{GITLAB_METADATA_NAMESPACE | default(GITLAB_DEFAULT_METADATA_NAMESPACE, true)}}
  labels:
    release: {{GITLAB_METADATA_RELEASE_LABEL | default(GITLAB_DEFAULT_METADATA_RELEASE_LABEL, true)}}
data:
  postgresql-postgres-password: {{GITLAB_PERSISTENT_POSTGRESQL_ADMIN_PASSWORD | default(GITLAB_DEFAULT_PERSISTENT_POSTGRESQL_ADMIN_PASSWORD, true) | b64encode}}
  postgresql-password: {{GITLAB_PERSISTENT_POSTGRESQL_USER_PASSWORD | default(GITLAB_DEFAULT_PERSISTENT_POSTGRESQL_USER_PASSWORD, true) | b64encode}}